#detailsCard {
	margin:2% 0;
	background: no-repeat ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
}

h3 {
	font-size:2.75rem;
	margin:0;
}
#card #overview {
	font-size:1.5rem;
}

h4 {
	font-size:2.2rem;
	margin:3% 0 0 0;
}

#content {
	max-width: 100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	background-color : rgba(255, 255, 255, 0.449);
	padding : 5% 2%;
	color : black;
}
#content > img {
	
}
#content > #contentAlign {
	padding:0 2%;
	width:80%;
}

#name {
	position:absolute;
	top:45%;
	left:30%;
}

#info {
	color: black;
	margin: 0 0 0 2%
}
#content p {
 font-size: .8em;
}