body {
	background-color:#ccc;
  margin:0 auto;
  width:90%;
}

#title {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
#title .glyphicon:before {
  vertical-align: -22px;
}
#title .glyphicon {
  font-size: 2.1em;
  margin: 0 0.5% 0 0;
}

#search {
	margin:3% 0;
}

#card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
	height:300px;
	margin:2% 0;
}
#card > img {
	width:18%;
}
#card > #content-align {
	padding:2%;
	width:50%;
}
#card h3 {
  font-size: 2rem;
	margin:0;
}
#card #overview {
  font-size: 1.5rem;
}

#slideshow {
	background-color:#888;
	border-radius:10px;
	color:#fff;
	padding:2%;
}
#slideshow > h2 {
	margin:0;
}
#slideshow button {
	color:#000;
}