body {
	background-color:#ccc;
	font-family: sans-serif;
	margin:0 auto;
	width:90%;
}
#title {
	width:265px;
}
#title a{
	color:#000;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	text-decoration: none;
}
#title a .glyphicon:before {
	vertical-align: -22px;
}
#title a .glyphicon {
	font-size: 2.1em;
	margin: 0 0.5% 0 0;
}

#search {
	margin:2% 0;
}

.genre {
	background-color:#000;
	border-radius:3px;
	color:#fff;
	display:inline-block;
	padding:0 3px;
	margin:0 3px 0 0;
}

#card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	letter-spacing: 1px;
	margin:2% 0;
}
#card > img {
	height:325px;
	width:215px;
}
#card > #content-align {
	padding:0 2%;
	width:80%;
}
#card h3 {
	font-size: 2rem;
	margin:0;
}
#card #overview {
	font-size: 1.5rem;
}

#slideshow {
	background-color:#888;
	border-radius:10px;
	color:#fff;
	padding:2%;
}
#slideshow > h2 {
	margin:0;
}
#slideshow button {
	color:#000;
}