#detailsCard {
	margin:2% 0;
}

#card h3 {
	font-size:2.75rem;
	margin:0;
}
#card #overview {
	font-size:1.5rem;
}
#cast {
	height: auto;
	margin:0 0 2% 0;
}
#card h4 {
	font-size:2.2rem;
	margin:3% 0 0 0;
}

#cast h4 {
	margin:3% 0 1% 0;
}
#actorsStyle {
	display:inline-block;
	height:187px;
	margin:0 auto;
	min-width:19%;
}
#actors {
	border:2px solid #fff;
	border-radius:50%;
	height:150px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
	width:150px;
}
#actorPic {
	height:auto;
	position:absolute;
	top:-20px;
	width:145px;
}
#actorsStyle p {
	text-align:center;
}
#actorsStyle p:first-of-type {
	font-weight:600;
}
#actorsStyle p:last-of-type {
	font-size:12px;
	letter-spacing:0;
	margin:-10px 0 0 0;
}
#content {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
#content > img {
	height:300px;
	width:215px;
}
#content > #content-align {
	padding:0 2%;
	width:80%;
}

#name {
	position:absolute;
	top:45%;
	left:30%;
}
