.similar {
	display:flex;
	flex-wrap: wrap;
}
.similarCard {
	background-color:rgba(0, 0, 0, 0.3);
	border-radius:5px;
	display:flex;
	margin:1%;
	padding:1%;
	width:30%;
}
.similiarDetails {
	color:#fff;
	margin:0 0 0 2%;
}
.similar > .similarCard > img {
	height:150px;
	width:100px;
}
.similiarDetails > p:first-of-type {
	font-size:18px;
	font-weight:600;
}
