

@import url('https://fonts.googleapis.com/css?family=Acme');

*, *:before, *:after {
	font-family: 'Acme', sans-serifs;
	letter-spacing:2px;
}


.movieListContainer  {
	border: 2px dashed #444;
	padding: 4px;
   width: 100%;
   overflow:auto;
   white-space: nowrap;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}