#title {
	margin:0 0 0 1%;
	width:265px;
}
#title a{
	color:#000;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	text-decoration:none;
}
#title a .glyphicon:before {
	vertical-align:-22px;
}
#title a .glyphicon {
	font-size:2.1em;
	margin:0 0.5% 0 0;
}
